<!DOCTYPE html>
<html lang="en">

<head>
    <title>partidul nostru</title>

    <!--<link rel="apple-touch-icon " sizes="57x57 " href="./assets/imgs/favicons/apple-icon-57x57.png ">
    <link rel="apple-touch-icon " sizes="60x60 " href="./assets/imgs/favicons/apple-icon-60x60.png ">
    <link rel="apple-touch-icon " sizes="72x72 " href="./assets/imgs/favicons/apple-icon-72x72.png ">
    <link rel="apple-touch-icon " sizes="76x76 " href="./assets/imgs/favicons/apple-icon-76x76.png ">
    <link rel="apple-touch-icon " sizes="114x114 " href="./assets/imgs/favicons/apple-icon-114x114.png ">
    <link rel="apple-touch-icon " sizes="120x120 " href="./assets/imgs/favicons/apple-icon-120x120.png ">
    <link rel="apple-touch-icon " sizes="144x144 " href="./assets/imgs/favicons/apple-icon-144x144.png ">
    <link rel="apple-touch-icon " sizes="152x152 " href="./assets/imgs/favicons/apple-icon-152x152.png ">
    <link rel="apple-touch-icon " sizes="180x180 " href="./assets/imgs/favicons/apple-icon-180x180.png ">
    <link rel="icon " type="image/png " sizes="192x192 " href="./assets/imgs/favicons/android-icon-192x192.png ">
    <link rel="icon " type="image/png " sizes="32x32 " href="./assets/imgs/favicons/favicon-32x32.png ">
    <link rel="icon " type="image/png " sizes="96x96 " href="./assets/imgs/favicons/favicon-96x96.png ">
    <link rel="icon " type="image/png " sizes="16x16 " href="./assets/imgs/favicons/favicon-16x16.png ">
    <link rel="manifest " href="./assets/imgs/favicons/manifest.json ">
    <meta name="msapplication-TileColor " content="#ffffff ">
    <meta name="msapplication-TileImage " content="./assets/imgs/favicons/ms-icon-144x144.png ">
    <meta name="theme-color " content="#ffffff ">-->

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="UTF-8">

    <!--roboto-->

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">    



    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="./bootstrap3/css/bootstrap.css">

</head>

<body>
    <!--<div id="preload">
        <img src="./assets/imgs/euroglass_color.png" alt="Logo" class='logo' style='width:200px; height:auto;'>
        <div class='iconload'>
            <i class="fa fa-spinner" aria-hidden="true" id='spinner'></i>
        </div>

    </div>-->

    <section id='main_container'>
            <%= require('html!./components/navbar/navbar.html') %>
            <section id='main_content' class='main_route_section'>
            </section>
            <%= require('html!./components/footer/footer.html') %>
    </section>

</body>


</html>